<h1><%= title %></h1>
<div class="table">
  <table>
    <thead>
      <tr>
        <th style="width: 8%">First</th>
        <th style="width: 8%">Last</th>
        <th style="width: 28%">Address</th>
        <th style="width: 12%">City</th>
        <th style="width: 12%">State</th>
        <th style="width: 5%">Zip</th>
        <th style="width: 12%">Country</th>
        <th style="width: 8%">Date</th>
      </tr>
    </thead>
    <% for (var i = 0; i < data.length; i++) { %>
    <tr>
      <% for (let key in data[i]) {%>
      <td><%= data[i][key] %></td>
      <% } %>
    </tr>
    <% } %>
  </table>
</div>
