<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/main.css" />

    <script>
      async function fetchAndDownload(path, body) {
        const pdf = await fetch(`http://localhost:3000/${path}`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: body,
        });
        const pdfBlob = await pdf.blob();
        const pdfURL = URL.createObjectURL(pdfBlob);

        const anchor = document.createElement('a');
        anchor.href = pdfURL;
        // If body exists, return {First}{Last}.pdf, else return Print.pdf
        anchor.download = `${
          body ? JSON.parse(body).First + JSON.parse(body).Last : 'Print'
        }.pdf`;

        document.body.appendChild(anchor);
        anchor.click();
        document.body.removeChild(anchor);

        URL.revokeObjectURL(pdfURL);
      }

      async function downloadSingle(user) {
        fetchAndDownload('downloadSingle', user);
      }

      async function printAll() {
        fetchAndDownload('downloadAll');
      }

      window.onload = async function() {
        const pdf = await fetch(`http://localhost:3000/downloadAll`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
        });
        const pdfBlob = await pdf.blob();
        const pdfURL = URL.createObjectURL(pdfBlob);

        document.getElementById('preview').setAttribute("src", pdfURL);
      }
    </script>

    <title>BizBoard</title>
  </head>

  <body>
    <%- include('partials/table', {title: "About To Expire", data: aboutToExpire}); %>
    <%- include('partials/table', {title: "Expired", data: expired}); %> 
    <%- include('partials/table', {title: "Normal", data: normal}); %>

    <button class="print" onclick="printAll()">PRINT ALL ENTRIES</button>

    <h1> Preview </h1>
    <iframe id="preview" src=""/>
  </body>
</html>
