@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

/* .left {
  width: 50%;
} */
h1, td, th, button {
  font-family: 'Source Serif Pro', serif;
}
table {
  width: 100%;
  border: 1px solid black;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
